URI=mongodb+srv://abufaisaldev:<myPassword>@cluster0.e54eb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=8000
CORS_ORIGIN=* // * means allowing from any domain. This is for development only. Change this to your domain when deploying to production. In production CORS_ORIGIN=https://yourdomain.com

ACCESS_TOKEN_SECRET=58baf280aa06b9cc8e4a0c741741ed840
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=dabe548b91e0add21495b4b48b94ba
REFRESH_TOKEN_EXPIRY=7d